*{
    margin: 0;
    padding:0;
    text-align: center;
}
h1{
background-color: #081b31;
color:#fff;
height: 5rem;
line-height: 5rem;
}
p{
    font-style: italic;
  
}
.choice{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;/*make the img fit to ori*/
    border-radius: 50%;/*make img circle*/
}
.choices{
  display: flex;
  justify-content: center;
  gap: 3rem ;
  margin-top: 5rem;
  align-items: center;
}
.choice:hover{
    /* opacity: 0.5; */
    border-radius: 50% ;
    background-color: #541770;
    cursor: pointer;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size:2rem;
    gap: 5rem;
    
}
#user-score,#comp-score{
font-size: 4rem;

}
#msg{
    background-color:#081b31;
    color: #fff;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container{
        margin-top: 5rem;
}
#developer{
    text-align:right;
    font-size: medium;
}